*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-img{
    width: 430px;
    height: 269px;

    background-image: url(screenshot_1682301815.png);
    background-size: cover;

    position: relative;
}
