.card-text, .cart-title{
    font-weight: 600;
  color: black;
  font-size: 1rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Card {
  border: none;
  transition: box-shadow 0.3s;
}

.Card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
