h1{
    color: whitesmoke;
    background-color: rgb(170, 170, 71);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.title{
    color: rgb(0, 0, 0);
    border: 1px solid gray;
    border-radius: 5px;
    height: 200px;
    width: 500px;
    margin: 0 auto;
    display:  flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inputnote{
    width: 400px;
    height: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
}
.btn-submit {
    background-color: rgb(170, 170, 71);
    color: whitesmoke;
    width: 50px;
    height: 30px;
    border: 1px solid rgb(170, 170, 71);
    font-size: 20px;
}
   


