*{  margin: 0;     
    padding: 0; 
    /* border: 10px solid wheat; */
    box-sizing: border-box; 
    text-align:left;  
}
img{
    height: 300px;
    width: 500px;
    
}
button{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    color: white;
    background-color: aqua;
}